#include "cygnus.dtsi"

&kscan0 {
    row-gpios  // These were your COLS, now they're ROWS after swap
        = <&gpio0 11 GPIO_ACTIVE_HIGH>  // P0.11
        , <&gpio0 29 GPIO_ACTIVE_HIGH>  // P0.29
        , <&gpio0 2  GPIO_ACTIVE_HIGH>  // P0.02
        , <&gpio1 15 GPIO_ACTIVE_HIGH>  // P1.15
        , <&gpio0 4  GPIO_ACTIVE_HIGH>  // P0.04
        , <&gpio1 13 GPIO_ACTIVE_HIGH>  // P1.13
        ;
};
