#include "cygnus.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    row-gpios  // These were your COLS, now they're ROWS after swap
        = <&gpio1 13 GPIO_ACTIVE_HIGH>  // P1.13 (reversed order)
        , <&gpio0 4  GPIO_ACTIVE_HIGH>  // P0.04
        , <&gpio1 15 GPIO_ACTIVE_HIGH>  // P1.15
        , <&gpio0 2  GPIO_ACTIVE_HIGH>  // P0.02
        , <&gpio0 29 GPIO_ACTIVE_HIGH>  // P0.29
        , <&gpio0 11 GPIO_ACTIVE_HIGH>  // P0.11
        ;
};
